{% set pillar_get = salt['pillar.get'] %}

{% set iptables = salt['grains.filter_by']({
    'default': {
        'output_policy': 'ACCEPT',
        'blocklist': [],
    },
}, merge=pillar_get('iptables')) %}
