{% set salt_minion = salt['grains.filter_by']({
    'default': {
        'apply_schedule': {
            'hour': '*/8',
            'minute': 'random',
        }
    },
}, merge=salt['pillar.get']('dovecot')) %}
