{% set p = pillar.get('pig', {}) %}
{% set g = pillar.get('pig', {}) %}

{% set default_home = '/usr/share/pig' %}
{% set default_version = '0.12.1' %}

{% set home = g.get('home', p.get('home', default_home)) %}
{% set version = g.get('version', p.get('version', default_version)) %}

{% set pig = {} %}
{% do pig.update({
  'home': home,
  'version': version,
}) %}
