{% set otelcol_contrib = salt['grains.filter_by'](
    {
        'base': {
            'config': {},
            'extra_capabilities': [],
        },
        'default': {
            'version_info': '0.130.1 sha256=795d5900a0b60140b99e27aa9ccdfb04db4ebfac5001332ad1db530253e215cd',
        },
        'arm64': {
            'version_info': '0.130.1 sha256=ca458dec13c922cdd558eefe0efa7adfa09c7eeec195c5ae3448a5ae20ab5ede',
        },
    },
    base='base',
    grain='osarch',
    merge=salt['pillar.get']('otelcol-contrib'))
%}
