{% set otelcol_contrib = salt['grains.filter_by']({
    'default': {
        'version_info': '0.117.0 sha256=005bef5fcc133bd74a868fe1e9b86bc17dc6f4da85e31633c73b75fac2c47e7b',
        'config': {},
        'extra_capabilities': [],
    },
}, merge=salt['pillar.get']('otelcol-contrib')) %}
