{% set rabbitmq = salt['grains.filter_by']({
    'base': {
        'management_port': 15672,
        'management_expose_plaintext': False,
    },
}, merge=salt['pillar.get']('rabbitmq'), base='base') %}
