{% set terraform = salt['grains.filter_by']({
    'default': {
        'version_spec': '0.12.24 sha256=602d2529aafdaa0f605c06adb7c72cfb585d8aa19b3f4d8d189b42589e27bf11',
    },
}, merge=pillar.get('terraform', {})) %}
