flask==1.1.1
gevent==1.4.0
gunicorn==19.9.0
requests==2.22.0

# flask deps
click==7.0
itsdangerous==1.1.0
Jinja2==2.10.1
Werkzeug==0.16.0

# requests deps
certifi==2019.9.11
chardet==3.0.4
idna==2.8
urllib3==1.25.5
