{% set pillar_get = salt['pillar.get'] %}

{% set postgres = salt['grains.filter_by']({
    'default': {
        'version': '9.4',
        'internal': True,
        'external_nossl': False,
        'shared_buffers': '128MB',
        'cert_auth': False,
    },
}, merge=pillar_get('postgres')) %}
